install:
  - wget https://packages.erlang-solutions.com/erlang-solutions_1.0_all.deb
  - sudo dpkg -i erlang-solutions_1.0_all.deb
  - sudo apt-get update
  - sudo apt-get install erlang

language: java

branches:
  only:
    - mule-3.x

script: mvn -Pit verify
